//COLORS
$gray-light: #eee;
$gray-mid: #bbb;
$gray-dark: #333;

$color-secondary: #0984e3;
$color-gradient-dark: rgba(2, 0, 36, 1);
$color-gradient-mid: rgba(9, 9, 121, 1);
$color-gradient-light: rgba(0, 212, 255, 1);

$color-outline: #2e86de;
$color-hover: #2e86de2c;
$color-placeholder: #2e86de93;
$color-submit: #30336b;

$white-background: #fff;
